<div class="max-w-1xl px-8 py-4 mx-auto bg-white rounded-lg shadow-md my-9" style="cursor: auto;">
    <div class="flex items-center justify-between">
      <span class="lg:text-sm text-xs font-light text-gray-600 ">{{EventItem.pubDate | date:'dd.MM.yyyy HH:mm' }}</span> 
      <a onclick="copyToClipboard(`${EventItem.guid}`)" class="px-3 py-1 lg:text-sm text-xs font-semibold text-gray-500 transition-colors flex flex-row space-evenly duration-200 transform bg-gray-100 rounded cursor-pointer hover:bg-gray-200"> <span>
          {{EventItem.guid}}
      </span>
       <span><img src="../../../assets/copy-svgrepo-com.svg" class="h-4 ml-2" alt="image"></span></a>
    </div> 
    <div class="mt-2">
      <a class="lg:text-2xl text-medium font-bold text-gray-700  hover:text-gray-600 hover:underline">{{EventItem.title}}</a> 
      <p class="mt-2 text-gray-600 text-xs lg:text-xl ">{{EventItem.description}}</p>
    </div> 
    <div class="flex items-center justify-between mt-4">
      <a href="{{EventItem.link}}" class="text-blue-600 lg:text-xl text-xs  hover:underline">Read more ⟶</a> 
      <div class="flex items-center">
          <a class="font-bold text-gray-700  lg:text-xl text-xs cursor-pointer ">{{EventItem.author}}</a>
        <img *ngIf="EventItem.thumbnail" src="{{EventItem.thumbnail}}" alt="Author Photo" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"> 
            <img *ngIf="!EventItem.thumbnail" src="https://stackdiary.com/140x100.png" alt="Author Photo" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block"> 
       
      </div>
    </div>
  </div>